* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --red: #c93538;
    --orange: #f79332;
}


header {
    background-color: var(--orange);
    padding: 1rem;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

header button {
    background-color: transparent;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header button img{
    height: 2rem;
}

.division {
    margin: 6rem auto 1rem;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.division select {
    font-size: 1rem;
    padding: 0.3rem;
}
.create-product {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 8px 0;
    background-color: transparent;
}

.create-product img {
    height: 29px;
}

.create-product span {
    font-size: 1.1rem
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.content-order {
    box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 0.4rem;
    width: 500px;
}
.label-flex {
    display: flex;
    gap: 0.7rem;
    cursor: pointer;
    width: 93%;
}
.label-flex span {
    margin-left: auto;
}
.label-flex img {
    height: 19px;
    margin-top: 5px;
}
.opacity-container {
    display: none;
}
.faq-content:nth-child(2n) {
    background: #eee;
}
.trigger-input {
    display: none;
}
.trigger-input:checked + .table-wrapper .opacity-container {
    display: block;
    margin-top: 0.5rem;
}

.faq-content {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid #ddd;
    padding: 5px;
}

.faq-content img {
    width: 55px;
    border: 1px solid #ddd;
}

.faq-content div h4{
    font-weight: 500;
}

.total {
    padding: 0.5rem 0.5rem 0;
}
.total h3 {
    font-size: 1.1rem;
    display: inline-block;
}

.total button {
    float: right;
    padding: 0.4rem 0.6rem;
    margin-top: 0.7rem;
    font-size: 1rem;
    background-color: #219421;
    color: white;
}

@media (max-width: 530px) {
    header h2 {
        font-size: 1.2rem;
    }
    .division {
        width: 95%;
    }
    .content-order {
        width: 95%;
    }
    .label-flex h3 {
        font-size: 1.1rem;
    }
    .total h3 {
        font-size: 1rem;
    }
}

@media (max-width: 420px) {
    .label-flex {
        gap: 0.4rem;
    }
    .label-flex p {
        font-size: 1rem;
    }
}